@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
$fondo-pokedex :rgb(214, 214, 214);
@mixin SearchColor {
    border-color: $fondo-pokedex;
    background-color:$fondo-pokedex;
}
html{
    margin-top: 4rem;
}

.container{
    width: 100vh;
    position:relative;
    align-items: center;
}
    .pokecontainer{
        #pokedex{
            position: absolute;
            z-index: 3;
        }
        #fondo{
            position:relative; 
            z-index:1;
            height: 21rem;
            width: 20.665rem;
            top: 9.65rem;
            left:1.85rem;
        }
        #normal{
            position:absolute; 
            z-index:1;
            height: 70px;
            width: 70px;
            top: 1rem;
            left: 1.9rem;
        }
    }
    
    #buscador{
            position: absolute;
            z-index: 3;
            top: 31rem;
            left: 4.2rem;
            width: 210px;
            span{
                @include SearchColor();
                border-right-color:$fondo-pokedex;
                
            }
            input{
                @include SearchColor();
                border-left-color: $fondo-pokedex;
            }
        }
        
        .screen{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 3;
          
            top: 9.8rem;
            left: 2.9rem;
            font-family: 'Silkscreen', cursive;
            font-size: 1.5rem;
            font-weight: 700;
            .infopoke{
                width: 19.5rem;
                .nombre{
                    display: flex;
                    justify-content:flex-end; 
                }
            }
            .pokesprit{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 3;
                width: 334px;
                height: 237px;
                top: 2.2rem;
                left: 0rem;
                img{
                    object-fit: contain;
                    height:100%;
                }
            }

            #typespkm{ 
                width: 300px;
                margin-left: 8px;
                margin-top: 16rem;
                z-index: 2;
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                font-family: "Silkscreen", cursive;
                font-size: 1rem;

                div{
                    font-size: 1rem;
                    text-align: center;
                    width: 130px;
                    background-color: rgba(107, 107, 107, 0.836);
                    border-radius: 12px;
                }
            }
        }          

        .derecha{
            display: flex;
            justify-content: space-around;
            align-content:space-around ;
            position: absolute;
            z-index: 3;
            width: 250px;
            font-weight: 100;
            top: 12rem;
            left: 32rem;
            font-family: "Silkscreen", cursive;
            font-size: 1rem;
            div{
                display: flex;
                justify-content: space-between;
                align-content: space-around;
                padding: 5px;
               
            }
        }
#info{
   
    position:absolute; 
    z-index:2;
    top: 0;
    background-color: rgb(118, 200, 232);
    top: 9rem;
    left:28rem;
    width: 335px;
    height: 400px;
}